* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(91, 151, 151);
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.form {
  max-width: 400px;
  margin: 200px auto 0;
  background-color: #fff;
  padding: 25px;
  border-radius: 4px;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.2);
}

.form-container {
  flex-grow: 1;
}

input {
  border: none;
  outline: none;
  display: block;
  width: 100%;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

input {
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #000;
  margin-bottom: 15px;
  font-size: 15px;
}

button {
  padding: 8px 16px;
  display: inline-block;
  font-size: 18px;
  border: 1px solid #000;
  transition: 0.45s ease-in-out;
}

button:hover {
  background-color: #000;
  color: #fff;
}

.admin-page {
  background-color: #fff;
}

.admin-page__title {
  text-align: center;
}


.admin-page__wrapper {
  display: flex;
  gap: 30px;
}

.admin-page__sidebar {
  flex-grow: 1;
  width: 330px;
  height: 100vh;
  background-color: rgb(43 43 43);
  padding: 30px 15px;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.admin-page__content {
  flex-grow: 1;
  margin-left: 350px;
}

.admin-page__home-link {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  gap: 5px;
  align-items: center;
}

.admin-page__sideba-top-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.admin-page__logout-link {
  padding: 3px 5px;
  color: #ff0000;
  border-radius: 5px;
  border: 2px solid #ff0000;
  text-decoration: none;
  font-weight: 400;
  transition: .2s ease-in;
}

.admin-page__logout-link:hover {
  background-color: #FFF;
}

.sidebar__title {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.sidebar__links-box {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.sidebar__link {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 5px;
  margin-bottom: 10px;
}

.sidebar__link--active {
  color: #5269E0;
}

.sidebar__link--active svg path {
  fill: #5269E0;
}

.form-box {
  max-width: 800px;
}

.input-box__title {
  font-size: 25px;
  margin: 20px 0;
}

.form-btn {
  display: inline-block;
  margin-top: 20px;
}

.admin-page__sidebar::-webkit-scrollbar {
  width: 10px;
}

.admin-page__sidebar::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}

.admin-page__sidebar::-webkit-scrollbar-thumb {
  background-color: #5269E0;
  border-radius: 5px;
}

.sidebar__subtitle {
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 15px;
}

.sidebar__cards-links-box {
  padding-right: 15px;
}

.btn-remove-card {
  color: #ff0000;
  border-color: #ff0000;
  transition: .25s ease-in-out;
  display: inline-block;
  margin-top: 20px;
}

.btn-remove-card:hover {
  background-color: #ff0000;
  color: #fff;
}

.sidebar__subtitle {
  display: flex;
}

.add-card {
  font-size: 30px;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  line-height: 1;
  display: inline-block;
  width: 20px;
  margin-left: auto;
  margin-right: 15px;
}

.current-img-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-current-img {
  width: 300px;
}

